.header__subscribe {
  display: flex;
  padding: 12px 30.5px;
  max-width: 350px;
  background-color: #0A0A0A;
  color: white;
  border: none;
  cursor: pointer;
}


@media screen and (max-width: 767px) {
  .header__subscribe {
    max-width: 280px;
    padding: 12px 13.5px;
  }
}

.header__subscribe:hover {
  background-color: white;
  color: #0A0A0A;
}