.about__image_left {
  background-image: url(../../../../images/black_wear.png);
  width: 618px;
  height: 618px;
  margin-right: 80px;
}

@media screen and (max-width: 1400px) {
  .about__image_left {
    width: calc(304px + 314*(100vw - 768px)/(1400 - 768));
    height: calc(304px + 314*(100vw - 768px)/(1400 - 768));
    margin-right: 60px;
  }
}

@media screen and (max-width: 767px) {
  .about__image_left {
    width: calc(280px + 24*(100vw - 320px)/(768 - 320));
    height: calc(280px + 24*(100vw - 320px)/(768 - 320));
    margin: 0;
  }
}
