.footer__button {
  padding: 10px 24px;
  margin: 0;
  width: 108px;
  background-color: white;
  color: black;
  border: 0;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .footer__button {
    width: 100%;
    padding: 12px 114px;
  }
}

.footer__button:hover {
  background-color: #0A0A0A;
  color: white;
  outline: 1px solid white; 
}