.about__image_right {
  width: 875px;
  height: 1095px;
  margin-left: -175px;
}

@media screen and (max-width: 1400px) {
  .about__image_right {
    width: calc(485px + 390*(100vw - 768px)/(1400 - 768));
    height: calc(607px + 488*(100vw - 768px)/(1400 - 768));
    margin-left: calc(-121px - 54*(100vw - 768px)/(1400 - 768));
  }
}

@media screen and (max-width: 767px) {
  .about__image_right {
    width: calc(280px + 205*(100vw - 320px)/(768 - 320));
    height: calc(350px + 257*(100vw - 320px)/(768 - 320));
    margin: 0;
  }
}