.about__image_right {
  background-image: url(../../../../images/beige_wear.png);
  width: 875px;
  height: 1095px;
}

@media screen and (max-width: 1400px) {
  .about__image_right {
    width: calc(485px + 390*(100vw - 768px)/(1400 - 768));
    height: calc(607px + 488*(100vw - 768px)/(1400 - 768));;
  }
}

@media screen and (max-width: 767px) {
  .about__image_right {
    width: calc(280px + 205*(100vw - 320px)/(768 - 320));
    height: calc(350px + 257*(100vw - 320px)/(768 - 320));
  }
}