.about__image_center {
  background-image: url(../../../../images/red_wear.png);
  width: 700px;
  height: 875px;
  margin-left: -175px;
}

@media screen and (max-width: 1400px) {
  .about__image_center {
    width: calc(364px + 336*(100vw - 768px)/(1400 - 768));
    height: calc(452px + 423*(100vw - 768px)/(1400 - 768));;
    margin-left: calc(-121px - 54*(100vw - 768px)/(1400 - 768));
  }
}

@media screen and (max-width: 767px) {
  .about__image_center {
    width: calc(280px + 84*(100vw - 320px)/(768 - 320));
    height: calc(348px + 110*(100vw - 320px)/(768 - 320));
    margin: 0;
  }
}