.header__title {
  color: #0A0A0A;
  margin: 0;
  padding: 0;
  align-self: center;
  max-width: 700px;
}

@media screen and (max-width: 1400px) {
  .header__image {
    width: calc(485px + 515*(100vw - 768px)/(1440 - 768));
  }
}

@media screen and (max-width: 767px) {
  .header__image {
    width: calc(280px + 205*(100vw - 320px)/(768 - 320));
  }
}